{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,

    "func-names": 0,
    "no-use-before-define": 0,
    "space-before-function-paren": [2, "always"],
    "id-length": [1, {"exceptions": ["i", "j", "e"]}],
    "no-shadow": 0
  },
  "plugins": [
    "react"
  ]
}
