.photo-take {
  .photo-webcam {
    text-align: center;

    video {
      border-radius: 10px;
      border: 4px solid #000;
    }
  }

  .photo-list {
    text-align: center;
    padding: 0 10em 0 10em;

    li {
      margin-left: 20px;
      display: inline;
    }
  }
}
